<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Content-Security-Policy" />
          <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cloudflare.com; style-src 'self' 'unsafe-inline' https://cloudflare.com; font-src 'self' https://cloudflare.com;" />
        </customHeaders>
      </httpProtocol>
      <rewrite>
        <rules>
          <!-- 1. Detener el proceso si se solicita index.php directamente -->
          <rule name="Detener index.php" stopProcessing="true">
            <match url="^index\.php$" />
            <action type="None" />
          </rule>

          <!-- 2. Enrutador Frontal Dinámico: Pasa la ruta real como parámetro a index.php -->
          <rule name="Enrutador Frontal" stopProcessing="true">
            <match url="^(.*)$" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <!-- Enviamos la URI original limpia en un parámetro interno e IIS añade el resto con appendQueryString -->
            <action type="Rewrite" url="index.php?iis_route={R:1}" appendQueryString="true" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>
