<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Content-Security-Policy" />
          <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdnjs.cloudflare.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com; font-src 'self' https://cdnjs.cloudflare.com; img-src 'self' data:;" />
        </customHeaders>
      </httpProtocol>

      <rewrite>
        <allowedServerVariables>
          <add name="HTTP_AUTHORIZATION" />
        </allowedServerVariables>

        <rules>
          <rule name="Preservar Auth Header" enabled="true">
            <match url=".*" />
            <serverVariables>
              <set name="HTTP_AUTHORIZATION" value="{HTTP_AUTHORIZATION}" />
            </serverVariables>
            <action type="None" />
          </rule>

          <rule name="Bloquear Accesos Directos" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny">
              <add input="{UNENCODED_URL}" pattern="\.config" />
              <add input="{UNENCODED_URL}" pattern="\.env" />
              <add input="{UNENCODED_URL}" pattern="/\.git" />
              <add input="{UNENCODED_URL}" pattern="\.php" />
            </conditions>
            <action type="Rewrite" url="index.php" appendQueryString="true" />
          </rule>

          <rule name="Anadir .php implicieto" stopProcessing="true">
            <match url="^([^.]+?)/?$" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <add input="{DOCUMENT_ROOT}/{R:1}.php" matchType="IsFile" />
            </conditions>
            <action type="Rewrite" url="{R:1}.php" appendQueryString="true" />
          </rule>

          <rule name="Enrutador Frontal" stopProcessing="true">
            <match url="^(.*)$" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.php" appendQueryString="true" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>
